<div *ngFor="let parentFilter of filters">
  <button (click)="toggleParentFilter(parentFilter)">
    {{ parentFilter.value }}
  </button>
  <ul *ngIf="expandedParentFilterLookupValue === parentFilter.lookupValue">
    <li
      *ngFor="let filter of parentFilter.children"
      (click)="toggleFilter(filter)"
    >
      <label>
        {{ filter.value }}
      </label>
      <input
        type="radio"
        [value]="filter.lookupValue"
        [checked]="activeFilters[filter.lookupValue]"
      />
    </li>
  </ul>
</div>
